<!doctype html>
<html class="{{ ENV }} no-js" lang="{{ LANGUAGE_CODE }}">
{% load compress cms_tags menu_tags sekizai_tags static %}

    <head>
        {% language_chooser 'menu/hreflang.html' %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {# <meta http-equiv="x-ua-compatible" content="ie=edge"> #}
        {# http://patorjk.com/software/taag/ #}

        <!-- Roman



         .o8                              oooo                      oooo
        "888                              `888                      `888
         888oooo.  ooo. .oo.     oooooooo  888  oooo       .ooooo.   888 .oo.
         d88' `88b `888P"Y88b   d'""7d8P   888 .8P'       d88' `"Y8  888P"Y88b
         888   888  888   888     .d8P'    888888.        888        888   888
         888   888  888   888   .d8P'  .P  888 `88b.  .o. 888   .o8  888   888
         `Y8bod8P' o888o o888o d8888888P  o888o o888o Y8P `Y8bod8P' o888o o888o

        --
        coded by bnzk.ch


        -->
        <title>{% block title_tag %}{% endblock %}</title>
        <meta name="description" content="{% block meta_description %}{% endblock %}">

        <meta content="{% block facebook_url %}{% endblock %}" property="og:url"/>
        <meta content="{% block facebook_title %}{% endblock %}" property="og:title"/>
        <meta content="{% block facebook_description %}{% endblock %}" property="og:description"/>
        <meta content="{% block facebook_image %}{% endblock %}" property="og:image"/>

        {% compress js inline %}
            <script>
                document.querySelector('html').className += ' js';
                {# https://www.quora.com/How-do-I-disable-the-hover-CSS-rule-for-iPhone-and-iPad-touch-device-browsers/answer/John-Miller-386 #}
                document.addEventListener('touchstart', function addtouchclass(e){ // first time user touches the screen
                    document.documentElement.classList.add('is_touch'); // add "can-touch" class to document root using classList API
                    document.removeEventListener('touchstart', addtouchclass, false); // de-register touchstart event
                }, false);
                {% if request.toolbar.edit_mode or request.toolbar.edit_mode_active %}
                    var cms_edit_mode = true;
                {% else %}
                    var cms_edit_mode = false;
                {% endif %}
                {% if request.user.is_staff %}
                    var user_is_staff = true;
                {% else %}
                    var user_is_staff = false;
                {% endif %}
            </script>
        {% endcompress %}

        {% compress css inline %}
            <link rel="stylesheet" href="{% static '{{ project_name }}/libs/normalize-css/normalize.css' %}">
            <link rel="stylesheet" href="{% static 'djangocms_misc/css/cms_frontend_adjust.css' %}">
            <link rel="stylesheet" href="{% static '{{ project_name }}/css/screen.css' %}">
        {% endcompress %}
        {% comment %}
            if need...<script src="{% static '{{ project_name }}/components/modernizr/modernizr.js' %}"></script>
        {% endcomment %}

        {% render_block "css" %}

    </head>
    <body class="{% block body_class %}{% endblock %}">

        {% cms_toolbar %}

        <div id="page" class="{% block page_class %}{% endblock %}">

            <header>
                <a class="logo"><img src="{% static '{{ project_name }}/img/logo.png' %}" alt="Logo"></a>
                <nav class="nav nav_main">
                    <ul>
                        {% show_menu 0 2 2 2 %}
                    </ul>
                </nav>
            </header>

            {% block content %}
            {% endblock %}

        </div>

        {% compress js %}
            <script src="{% static '{{ project_name }}/libs/jquery/dist/jquery.js' %}"></script>
            <script src="{% static '{{ project_name }}/libs/jquery-ui/ui/widget.js' %}"></script>
            <script src="{% static '{{ project_name }}/js/navigation.js' %}"></script>
            <script src="{% static '{{ project_name }}/js/main.js' %}"></script>
        {% endcompress %}

        {% if is_live and not request.user.is_staff and analytics_ua %}
            {% compress js inline %}
                <script>
                    // Google Analytics: change UA-XXXXX-X to be your site's ID. -->
                    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
                    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
                    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
                    e.src='https://www.google-analytics.com/analytics.js';
                    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
                    ga('create','{{ analytics_ua }}','auto');ga('send','pageview');
                </script>
            {% endcompress %}
        {% endif %}


        {% render_block "js" %}

    </body>
</html>
