{% extends "{{ project_name }}/standard.html" %}
{% load cms_tags thumbnail %}


{% block content %}
    <div class="my_detail">
        <div class="text">
            {% render_model_block object %}
                <h1>{{ object.title }}</h1>
            {% endrender_model_block %}
            {{ object.body|safe }}
            {% if object.referenceinfo_set.all|length %}
                <ul class="info">
                    {% for item in object.referenceinfo_set.all %}
                        <li>{{ item.label }} <span>{{ item.value }}</span></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="images">
            {% for item in object.referenceimage_set.all %}
                {% if item.image %}
                   {% thumbnail item.image 2000x1000 crop=0 as resized %}
                    <img src="{{ resized.url }}" alt="{{ item.title }}">
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
