{% extends "{{ project_name }}/standard.html" %}
{% load cms_tags thumbnail %}

{% block content %}
    {{ block.super }}

    <div class="my_wrapper">
        {% comment %}
        <div class="reference_filter">
            {% for field in filter_form %}
                {{ field }}
            {% endfor %}
        </div>
        {% endcomment %}
        <div class="my_list">
            {% for object in object_list %}
                <h2><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></h2>
                <a href="{{ object.get_absolute_url }}" class="my_thumb">
                    {% thumbnail object.preview_image 400x400 crop=1 as resized %}
                    <img src="{{ resized.url }}" alt="{{ instance.title }}">
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}