

$c_white: white
$c_white_transparent: rgba(255,255,255,0.6)
$c_black: #201f20
$c_orange: #EB4B21
$c_yellow: #E8D93D
$c_text: #555

$bp_max_width: 1400px
$bp_xs: 'min-width: 440px'
$bp_sm: 'min-width: 660px'  // main layout change
$bp_md: 'min-width: 860px'
$bp_lg: 'min-width: 1100px'
$bp_xl: 'min-width: 1300px'

$lh_base: 1.2
$lh_title: 1.4

$font_regular: 'Conduit ITC W01 Extra Light', sans-serif
// $font_medium: NewsGothicNo2W01-Medium_710407
$font_bold: 'Conduit ITC W01 Bold', sans-serif

$fs_small: 16px
$fs_normal: 20px
$fs_medium: 28px
$fs_big: 44px
$fs_huge: 64px

$fsm_small: 13px
$fsm_normal: 15px
$fsm_normal: 20px
$fsm_big: 30px
$fsm_huge: 44px

$fs_normal: 20px

$fs: ("normal": $fs_normal, "normal_bigger": 24px, "medium": 30px, "huge": 66px)
$fsm: ("normal": 14px, "normal_bigger": 16px, "medium": 20px, "huge": 27px)

